<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Greeting Page</title>
</head>
<body>
    <h1 th:text="${message}">Hello, World!</h1>
    <p>Test</p>

    <video width="450" height="360" controls>
        <source src="https://192.168.2.113:8080/api/videos/beispiel_video" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <form method="post" enctype="multipart/form-data" action="https://192.168.2.113:8080/api/videos/upload" id="uploadForm">
        <label for="file">File</label>
        <input id="file" name="file" type="file" accept="video/mp4" />
        <button type="submit">Upload</button>
    </form>
    <div id="message"></div>

    <script>
        document.getElementById('uploadForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const fileInput = document.getElementById('file');
        const file = fileInput.files[0];
        const formData = new FormData();
        formData.append('file', file);

        fetch('https://192.168.2.113:8080/api/videos/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())  // Antwort als JSON parsen
            .then(data => {
                // Zeige die Nachricht aus der Antwort an
                document.getElementById('message').innerText = data.message;
            })
        .catch(error => {
            console.error('Fehler beim Hochladen:', error);
            document.getElementById('message').innerText = 'Fehler beim Hochladen';
            });
        });
    </script>

</body>
</html>
