<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Greeting Page</title>
</head>
<body>
    <h1 th:text="${message}">Hello, World!</h1>
    <p>Test</p>

    <video width="450" height="360" controls>
        <source src="https://192.168.2.113:8080/api/videos/stream-videos?videoId=4b694830-a436-4afc-a77b-2882b075f133" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <form method="post" enctype="multipart/form-data" action="https://192.168.2.113:8080/api/videos/upload" id="uploadForm">
        <label for="file">File</label>
        <input id="file" name="file" type="file" accept="video/mp4" />
        <button type="submit">Upload</button>
    </form>
    <div id="message"></div>

    <div class="form-container">
        <h2>Login</h2>
        <form id="loginForm">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Login</button>
        </form>
        <div id="loginMessage"></div>
    </div>

    <script>
        let csrfToken = '';

        // Abrufen des CSRF-Tokens beim Laden der Seite
        window.onload = function() {
            fetch('https://192.168.2.113:8080/api/auth/csrf', {
                method: 'GET',
                //credentials: 'include'
            })
            .then(response => {
                csrfToken = response.headers.get('CSRF-TOKEN');
                if (!csrfToken) {
                    console.error('CSRF-TOKEN not found in the response headers');
                }
            })
            .catch(error => {
                console.error('Error fetching CSRF token:', error);
            });
        };

        document.getElementById('uploadForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const fileInput = document.getElementById('file');
            const file = fileInput.files[0];
            const formData = new FormData();
            formData.append('file', file);

            fetch('https://192.168.2.113:8080/api/videos/upload', {
                    method: 'POST',
                    headers: {
                        'X-CSRF-TOKEN': csrfToken
                    },
                    body: formData,
                    credentials: 'include'
                })
                .then(response => response.json())  // Antwort als JSON parsen
                .then(data => {
                    // Zeige die Nachricht aus der Antwort an
                    document.getElementById('message').innerText = data.message;
                })
            .catch(error => {
                console.error('Fehler beim Hochladen:', error);
                document.getElementById('message').innerText = 'Fehler beim Hochladen';
                });
        });

         // Login-Formular mit CSRF-Token
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            fetch('https://192.168.2.113:8080/api/auth/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': csrfToken // CSRF-Token im Header
                },
                body: JSON.stringify({ email, password }),
                credentials: 'include'
            })
            .then(response => response.json())
            .then(data => {
                if (data.statusCode === 200) {
                    document.getElementById('loginMessage').innerText = 'Login erfolgreich!';
                } else {
                    document.getElementById('loginMessage').innerText = 'Login fehlgeschlagen: ' + data.message;
                }
            })
            .catch(error => {
                console.error('Fehler beim Login:', error);
                document.getElementById('loginMessage').innerText = 'Fehler beim Login';
            });
        });
    </script>

</body>
</html>
